*
{
    margin: 0;
    padding: 0;
}
.main
{
     display: flex;
}
.bi
{
    background-image: url(./1.png);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.h11
{
    width: 342px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-align: center;
    color: white;
    padding-left: 586px;
    padding-top: 217px;
}
.h61
{
    width: 360px;
    height: 26px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 6.8px;
    text-align: center;
    padding-left: 584px;
    padding-top: 25px;
}
.search
{
    width: 653px;
    height: 63px;
    background-color: white;
    margin-left: 458px;
    margin-top: 48px;
    display: flex;
}
input[type=text]::placeholder
{
    width: 277px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2.79px;
    text-align: center;
    padding-left: 113px;
}
.in1
{
    height: 61px;
    width: 503px;
    border: none;
}
.h62
{
    width: 92px;
   height: 26px;
   font-family: 'Aleo', serif;
   font-size: 14px;
   letter-spacing: 1.4px;
   text-align: center;
   color: white;
   margin-left: 23px;
   margin-top: 21px;
   margin-bottom: 16px;
}
.button1
{
    background-color: #5474FD;
    margin-bottom: 100px;

    width: 153px;
    height: 63px;
}
.h613
{
    width: 123px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-align: center;
    color: white;
    padding-left: 695px;
    padding-top: 107px;
}
.strelka
{
    padding-left: 745px;
}
.main2
{
    width: 100%;
    height: 83px;
    background-color: #5474FD;
    display: flex;
}
.h41
{
    width: 186px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
font-size: 24px;
letter-spacing: 2.4px;
text-align: left;
color: white;
   padding-left: 334px;
   padding-top: 32px;
}
.ul1
{
    font-family: 'Aleo', serif;
    font-size: 14px;
letter-spacing: 0px;
text-align: left;
padding-left: 357px;
padding-top: 36px;
color: white;
}
#li1
{
    padding-left: 40px;
}
.bi2
{
    background-image: url(./Rectangle\ 41444.png);
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.i1
{
    width: 350px;
height: 220px;
padding-top: 118px;
padding-left: 110px;
}
.i2
{
    width: 350px;
height: 220px;
padding-top: 10px;
padding-left: 200px;
}
.bi2
{
    display: flex;
}
.h12
{
    width: 288px;
    height: 26px;
    font-family: 'Aleo', serif; 
    font-size: 36px;
    text-align: left;
    color: white;
    padding-left: 330px;
    padding-top: 212px;
}
.p1
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: left;
    color: white;
    width: 560px;
    height: 158px;
    padding-left: 330px;
    padding-top: 50px;
}
.button2
{
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    margin-left: 330px;
}
.h42
{
    color: white;
    font-family: 'Aleo', serif; 
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    padding-left: 50px;
}
.main4
{
    width: 100%;
    height: 180px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
}
.h13
{
    width: 244px;
    height: 26px;
    font-family: 'Aleo', serif; 
    font-size: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    
}
.main5
{
    background-image: url(./g1.png);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.surat
{
    width: 543px;
    height: 374px;
    opacity: 0.9px;
    background-color:   rgba(0, 0, 0, 0.8);
    margin-left: 328px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.h23
{
    width: 80px;
    height: 26px;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-left: 32px;
    padding-top: 49px;

}
.h14
{
    width: 241px;
    height: 26px;
font-size: 20px;
letter-spacing: 0px;
text-align: left;
padding-left: 32px;
    padding-top: 23px;

}
.p2
{
    width: 508px;
height: 78px;
font-size: 16px;
letter-spacing: 0px;
text-align: left;
padding-left: 32px;
    padding-top: 13px;
}
.main6
{
    background-image: url(./g2.png);
    width: 100%;
    height: 90vh;
}
.main7
{
    width: 100%; 
   height: 80vh;
   background-image: url(./g3.png);
   background-repeat: no-repeat;
    background-size: cover;
}
.h15
{
    width: 390px;
    height: 26px;
    font-family: 'Aleo', serif; 
font-size: 36px;
letter-spacing: 0px;
text-align: center;
color: white;
padding-left: 590px;
padding-top: 128px;
}
.ss
{
    width: 193px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
font-size: 24px;
letter-spacing: 3.35px;
text-align: left;
     padding-left: 699px;
     padding-top: 122px;
     color: white;
}
.ss1
{
    width: 196px;
   height: 26px;
   font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
letter-spacing: 1.6px;
text-align: center;
padding-left: 689px;
padding-top: 8px;
color: white;
}
#f
{
    padding-left: 20px;
    color:  white;
}